#searchFiled {
  border-radius: 5px;
  height: 3em;
  width: 15em;
}

#searchBtn {
  margin: 20px;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: #47618f;
  cursor: pointer;
  min-width: 20%;
  justify-content: end;
  align-items: center;
}

#searchBtn:hover {
  color: #838bb7;
}

#searchBtn:active {
  background-color: #fab005;
}

/* NAVBAR  */
.container-navbar-searchbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}
.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-navbar-searchbar img {
  width: 80px;
  height: 80px;
  padding-right: 5px;
  margin-left: 10%;
}

.nav-logo {
  display: flex;
  align-items: center;
  width: 20vw;
}

.nav-logo h4 {
  display: flex;
  font-size: 1.1em;
  color: black;
  text-shadow: 0.5px 0.5px #fab005;
}

.nav-link {
  text-decoration: none;
  margin: 15px;
  color: white;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 1.1em;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: #47618f;
}

.nav-link:hover {
  color: #838bb7;
}

.nav-link:active {
  background-color: #fab005;
}

/* HOME PAGE */
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage img {
  width: 300px;
  height: 300px;
  margin-top: 4%;
}

.homepage-heading {
  margin-top: 10%;
  margin-left: 10%;
  font-size: 5em;
  font-weight: lighter;
  color: rgb(34, 35, 36);
  text-shadow: 2px 2px #f1e0b7;
  margin-left: 0;
}

.homepage-container {
  background-image: url("/Home-background.png");
  padding: 8% 2%;
}

.homepage-img-container {
  background-color: #fab005;
  border-radius: 50px;
  width: 60vw;
  margin: 5% 20%;
  padding: 1% 5%;
}

.homepage-link {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.homepage-img-container h2 {
  font-size: 3.5em;
  color: white;
  text-shadow: 1px 1px #fab005;
  font-weight: lighter;
}

@media screen and (max-width: 1200px) and (min-width: 700px) {
  .container-navbar-searchbar {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 700px) and (min-width: 300px) {
  .container-navbar-searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
